
.navbar {
    max-height: 46px;
}
.navbar-brand {
    font-size: 30px ;
}
.navbar-cabinet {
    font-size: 20px;
    color: #eeeeee;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: right;
    position: fixed;
    right: 20%;
    font-size: 18px;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: transparent;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: black;
}
ul.submenu {
    display: none;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: white;
    border: 1px solid black;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    font-size: 13px;
    display: block;
    padding: 10px;
    color: white;
    background-color: #888888;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
.buttons{
    text-align: center;
}

button{
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 16px;
    color: rgb(205,216,228);
    text-shadow: 0 -1px rgb(46,53,58);
    text-decoration: none;
    user-select: none;
    line-height: 2em;
    padding: 1px 1.2em;
    outline: none;
    border: 1px solid rgba(33,43,52,1);
    border-radius: 3px;
    background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
    box-shadow:
            inset 0 1px rgba(101,114,126,1),
            inset 0 0 1px rgba(140,150,170,.8),
            0 1px rgb(83,94,104),
            0 0 1px rgb(86,96,106);
}

button:active {
    box-shadow:
            inset 0 1px 3px rgba(0,10,20,.5),
            0 1px rgb(83,94,104),
            0 0 1px rgb(86,96,106);
}

button:focus:not(:active) {
    border: 1px solid rgb(22,32,43);
    border-bottom: 1px solid rgb(25,34,45);
    background: rgb(53,61,71);
    box-shadow:
            inset 0 1px 3px rgba(0,10,20,.5),
            0 1px rgb(83,94,104),
            0 0 1px rgb(86,96,106);
    pointer-events: none;
}

textarea {
    max-width: 100%;
    width: 100em;
    outline: none;
    -moz-appearance: none;
    border-radius: 6px;
    border: 3px solid #737373; /* указание этого свойства также удалит обводку в FireFox */
    resize: none;
}

table {
    position: center;
    width: 65%; /* Ширина таблицы */
    /*height: 65%;*/
    background: #222222; /* Цвет фона таблицы */
    color: white; /* Цвет текста */
    border-spacing: 1px; /* Расстояние между ячейками */
}
td, th {
    /*background: maroon; !* Цвет фона ячеек *!*/
    padding: 0 7px 0 7px; /* Поля вокруг текста */
    border: 1px solid #222222;
}
.number1 {
    background: #045FB4;
}
.number2 {
    background: #d43f3a;
}
.number3 {
    background: #DF7401;
}
.number4 {
    background: #0B610B;
}
.number5 {
    background: #8A0886;
}
.number6 {
    background: #01A9DB;
}
.number7 {
    background: #FE2E64;
}
.number8 {
    background: #4cae4c;
}
.number9 {
    background: #B43104;
}
.number10 {
    background: #084B8A;
}
.number11 {
    background: #8A0886;
}
.number12 {
    background: #088A68;
}
.number13 {
    background: #86B404;
}
.number14 {
    background: #3104B4;
}
.number15 {
    background: #FE642E;
}
.number16 {
    background: #610B0B;
}
.number17 {
    background: #4C0B5F;
}
.number18 {
    background: #0B614B;
}
.number19 {
    background: #045FB4;
}
.number20 {
    background: #08298A;
}

.round{
    right: 8.5%;
}
.gistogramm{
    right: 9%;
    max-width: 135%;
}
